.login-overall-loginpage{
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:350px;
    border: 2px solid black;;
    border-radius: 2%;
    box-shadow: 5px 5px 5px 5px darkgray;
}

.parent-login-div{
 display:flex;
 justify-content:center;
 margin-top: 0%;
}
.back-button-login{
    margin-top:2%;
    margin-bottom: 0%;
    margin-left:5%;
    margin-bottom:0px;
}