.profileCard{
   height:auto;
   width: 300px;
   position: absolute;
   top: 110px;
   left:75%;
   text-align:left;
   border: 5px solid rgb(109, 107, 107);
   /* box-shadow: 2px 2px 2px 2px rgb(235, 229, 229); */
   border-radius: 10px;
}

.title{ 
    margin-bottom: 10%;
}

.image{
    height:auto;
    width: auto;
}