.result-table-storage{
    margin-top:4%;
    margin-left:25%;
    width:50%;
    height:fit-content;
    border: 2px solid black;
}

.back-button-storage{
    margin-top:2%;
    margin-bottom: 0%;
    margin-left:5%;
    margin-bottom:0px;
}